.manage-tags-filler-title {
    font-weight: 300;
    font-size: 18pt;
}

.picture-rounded {
    border-radius: 12px;
}

.article-title {
    font-weight: 600;
}

.smaller-label {
    font-size: .9rem;
}

.bold {
    font-weight: bold;
}
